<div class='news-c-login-expansion-panel'>
  <mat-card class="news-c-login-panel  col-sm-12 col-md-8 col-lg-5  text-center">
    <mat-card-header>
      <mat-card-title>
        <h3>Login</h3>
      </mat-card-title>
    </mat-card-header>
    <div class='news-c-login-form'>
      <form>
        <mat-form-field>
          <input class="username" matInput [formControl]='username' placeholder="User Name" />
        </mat-form-field>
        <br>
        <mat-form-field>
          <input class="password" matInput type="password" [formControl]='password' placeholder="Password" />
        </mat-form-field>

        <div class="news-c-btn-div-wrapper">
          <div class='news-c-done-btn-wrapper'>
            <a mat-raised-button (click)='routeToRegister()'>New User?</a>
          </div>

          <div class='news-c-done-btn-wrapper'>
            <button mat-raised-button (click)='loginSubmit()'  color="primary">Login</button>
          </div>
        </div>

        <div class="error-message">
          {{ this.submitMessage }}
        </div>
      </form>
    </div>
  </mat-card>
</div>