<mat-toolbar color="primary" class="news-c-header-toolbar page-header" *ngIf="isUserLoggedIn | async as isUserLoggedIn">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="navbar-collapse collapse w-100 order-4 order-md-0 collapsenav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link news-nav-link" (click)="routeToDashboard()">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link news-nav-link" (click)="routeToFavorites()">Favorite</a>
                </li>
            </ul>
        </div>
        <div class="w-100 d-flex flex-nowrap">
            <div class="w-100 d-md-none">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".collapsenav">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="d-flex w-100 mx-auto order-0">
                <a class="navbar-brand mx-0 news-nav-link" (click)="routeToDashboard()">24X7 News</a>
            </div>
            <div class="d-flex w-100 justify-content-end order-3">
                <form class="d-flex flex-nowrap align-items-center">
                    <input class="form-control mr-sm-2" id="search-text" name="search-text" [(ngModel)]="searchText"
                        type="search" placeholder="Search" aria-label="Search">
                    <button id="search-btn" class="btn btn-outline-secondary" type="submit" (click)='routeToSearch()'>
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </div>
        </div>
    </nav>
</mat-toolbar>